.logo_default {

}

.logo_image {
    width: 180px;
}

.logo {
    text-decoration: none !important;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.logo_text {
    font-weight: 900;
    padding-bottom: 20px;
    color:rgb(0, 129, 214);
}